# Criação de colunas e operações
***

A criação de colunas e a realização de operações são tarefas essenciais na manipulação e transformação de dados no Pandas. Nesse contexto, o Pandas oferece algumas ferramentas úteis, como os métodos assign, transform e apply, que permitem adicionar novas colunas aos DataFrames e aplicar operações em linhas ou colunas existentes.

#### Importação das Bibliotecas

In [1]:
import pandas as pd

#### Coletando Dados de Vendas
***

In [3]:
df = pd.read_csv('../../source_data/dados_vendas_produtos.csv', 
                 sep=';', encoding='latin1') 

df.head()

              nome_vendedor    produto  qtd  valor data_compra local
0             Joaquim Souza  Produto B    9  33,32  12/01/2023    PI
1            Lorenzo da Luz  Produto B   10  94.38  24/03/2023    DF
2  Gustavo Henrique Moreira  Produto E    9  84.45  11/06/2022    PE
3           Lorena da Costa  Produto C    5  34.14  24/12/2022    RO
4             Caio Monteiro  Produto C    2  94.42  27/05/2022    MG

In [14]:
df['valor'] = df['valor'].str.replace(',',  '.')
df['valor'] = df['valor'].astype('float')

#### Criando Nova Feature
***

In [15]:
df['valor_venda'] = df['qtd'] * df['valor']

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome_vendedor  1009 non-null   object
 1   produto        998 non-null    object
 2   qtd            1009 non-null   int64
 3   valor          1002 non-null   float64
 4   data_compra    1009 non-null   object
 5   local          1009 non-null   object
 6   valor_venda    1002 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 55.3+ KB

In [17]:
df.head()

,nome_vendedor,produto,qtd,valor,data_compra,local,valor_venda
0,Joaquim Souza,Produto B,9,33.32,12/01/2023,PI,299.88
1,Lorenzo da Luz,Produto B,10,94.38,24/03/2023,DF,943.80
2,Gustavo Henrique Moreira,Produto E,9,84.45,11/06/2022,PE,760.05
3,Lorena da Costa,Produto C,5,34.14,24/12/2022,RO,170.70
4,Caio Monteiro,Produto C,2,94.42,27/05/2022,MG,188.84

#### Método apply
***
O método apply é usado para aplicar uma função a cada linha ou coluna de um DataFrame. Podemos usar funções definidas por nós mesmos ou funções built-in do Python.