# Fundamentos em Python
****

Essa aula tem objetivo de apresentar os principais fundamentos da linguagem python e suas aplicações no dia a dia.

### Aplicações 
- Desenvolvimento web: Python é muito utilizado no desenvolvimento de aplicações web, através de frameworks como Django e Flask.
- Ciência de dados: Python é uma das linguagens mais utilizadas na área de ciência de dados, graças às bibliotecas Numpy, Pandas, Scikit-learn e outras, que permitem a análise e visualização de dados de forma eficiente e intuitiva.
- Automação de tarefas: Python também é muito utilizado para automação de tarefas, desde scripts simples para renomear arquivos até sistemas de automação de processos empresariais.
- Desenvolvimento de jogos: Python é uma linguagem bastante utilizada no desenvolvimento de jogos, principalmente através da biblioteca Pygame.

#### Conhecendo os Tipos de Dados 
Python é uma linguagem de programação dinamicamente tipada, o que significa que o tipo de dados é inferido a partir do valor atribuído a ele. Existem vários tipos de dados em Python, cada um com suas próprias características e métodos. Nesta resposta, vamos apresentar cada um desses tipos de dados e dar um exemplo prático de como utilizá-los.

##### String (str)

O tipo de dados de string é uma sequência de caracteres que representa um texto. Ela é uma das principais estruturas de dados da linguagem, sendo amplamente utilizada em diversos contextos, como manipulação de arquivos, comunicação com banco de dados e processamento de texto.

Para criar uma string em Python, basta envolver o texto entre aspas simples ou duplas. Por exemplo:

In [2]:
'isto é um texto em python'

mensagem = "isto é o inicio do dominio do python"

In [4]:
mensagem
print("conteúdo da variável mensagem:", mensagem)

conteúdo da variável mensagem: isto é o inicio do dominio do python

Além disso, é possível usar aspas triplas para criar strings com múltiplas linhas. Por exemplo:

In [5]:

frase_edison = '''
Qualquer homem pode alcançar o sucesso,
se dirigir seus pensamentos numa só direção e insistir
neles até conseguir alguma coisa.
'''

In [7]:
print(frase_edison)

Qualquer homem pode alcançar o sucesso,
se dirigir seus pensamentos numa só direção e insistir
neles até conseguir alguma coisa.

In [8]:
consulta_banco_dados = '''
SELECT * FROM clientes 
WHERE 
    idade > 30 
    AND 
    renda > 5000 
ORDER BY renda DESC
'''
print(consulta_banco_dados)

SELECT * FROM clientes
WHERE
    idade > 30
    AND
    renda > 5000
ORDER BY renda DESC

As strings em Python são imutáveis, o que significa que não é possível alterar um caractere específico de uma string. No entanto, é possível criar uma nova string a partir de uma existente, utilizando métodos de manipulação de strings, como o replace() e o split().

In [13]:
consulta_updated=consulta_banco_dados.replace('clientes', 'pessoas')
print(consulta_updated)

SELECT * FROM pessoas
WHERE
    idade > 30
    AND
    renda > 5000
ORDER BY renda DESC

In [16]:
print(consulta_banco_dados.lower())

select * from clientes
where
    idade > 30
    and
    renda > 5000
order by renda desc

Algumas operações comuns que podem ser realizadas com strings incluem concatenação (união de duas ou mais strings), indexação (acesso a um caractere específico da string) e fatiamento (obtenção de uma sub-string a partir da string original).

In [18]:
texto_1 = "Edison"
texto_2 = "foi um grande inventor"

print(texto_1 +' '+texto_2)

Edison foi um grande inventor

In [21]:
print('"'+frase_edison+'"'+ '\n'+texto_1 +' '+texto_2)

"
Qualquer homem pode alcançar o sucesso,
se dirigir seus pensamentos numa só direção e insistir
neles até conseguir alguma coisa.
"
Edison foi um grande inventor

##### Inteiro (int)
O tipo de dados inteiro (int) representa números inteiros positivos ou negativos. Inteiros podem ser criados simplesmente digitando um número inteiro diretamente no código Python ou podem ser o resultado de operações matemáticas.

In [25]:
a = 50
b = 85
c = a + b
print("soma a + b =", c)

d = a * b
print(d)

soma a + b = 135
4250

##### Operações

In [ ]:
adicao = a + b
substracao = b - a
multiplicacao = a * b
divisao = b / a
divisao_inteira = b // a
exponenciacao = a ** 2
modulo = b % a
print("Adição: ", adicao)
print("Subtração: ", substracao)
print("Multiplicação: ", multiplicacao)
print("Divisão: ", divisao)
print("Divisão Inteira: ", divisao_inteira)
print("Exponenciação ao quadrado: ", exponenciacao)
print("Módulo: ", modulo)

Adição:  135
Subtração:  35
Multiplicação:  4250
Divisão:  1.7
Divisão Inteira:  1
Exponenciação:  2500
Módulo:  35

In [30]:
print(
f'''
Adição a + b = {adicao}
Subtração b - a = {substracao}
Multiplicação a * b = {multiplicacao}
Divisão b / a = {divisao}
Divisão Inteira b / a =  {divisao_inteira}
Exponenciação ao quadrado a^2 = {exponenciacao}
Módulo b % a = {modulo}   
'''
)

Adição a + b = 135
Subtração b - a = 35
Multiplicação a * b = 4250
Divisão b / a = 1.7
Divisão Inteira b / a =  1
Exponenciação ao quadrado a^2 = 2500
Módulo b % a = 35

##### Ponto Flutuante ou Decimal (float)
O tipo de dados float representa números com casas decimais. Assim como os inteiros, os floats podem ser criados diretamente no código ou como resultado de operações matemáticas.

In [33]:
a = 1.8
b = 2.75

c = a + b
print("soma a + b =", c)

soma a + b = 4.55

In [38]:
import sys
print("Tamanho a em bytes do tipo float:", sys.getsizeof(a))
print("Tamanho b em bytes do tipo float:",  sys.getsizeof(b))

Tamanho a em bytes do tipo float: 24
Tamanho b em bytes do tipo float: 24

##### Conversão de Tipos de Dados
É possível realizar conversão de tipos de dados de acordo com a necessidade do contexto.

In [40]:
a_float = 1.57
print("Tipo de a_float:", type(a_float))

a_int = int(a_float)
print("Tipo de a_int:", type(a_int))
print("Valor de a_int:", a_int)

Tipo de a_float: <class 'float'>
Tipo de a_int: <class 'int'>
Valor de a_int: 1

In [ ]:
b_int = 100
print("Tipo original de b_int:", type(b_int))

b_float = float(b_int)
print("Tipo de b_float:", type(b_float))
print("Valor de b_float:", b_float)

Tipo de b_int: <class 'int'>
Tipo de b_float: <class 'float'>
Valor de b_float: 100.0

In [46]:
valor_produto = '4.890'
print("Tipo original de valor_produto:", type(valor_produto))

print("aplicando conversão de string para float... ")

valor_produto = float(valor_produto)
print("Tipo convertido de valor_produto:", type(valor_produto))
print("Valor convertido de valor_produto:", valor_produto)

Tipo original de valor_produto: <class 'str'>
aplicando conversão de string para float...
Tipo convertido de valor_produto: <class 'float'>
Valor convertido de valor_produto: 4.89

##### Boolean (bool)
O tipo de dados boolean é utilizado para representar valores lógicos verdadeiro (True) ou falso (False). Booleans são frequentemente utilizados em estruturas de controle, como if e while.

In [48]:

acesso = True
print("Tipo de acesso:", type(acesso))
print("Valor de acesso:", acesso)

if acesso:
    print("Acesso permitido")
else:
    print("Acesso negado")

Tipo de acesso: <class 'bool'>
Valor de acesso: True
Acesso permitido

Exemplo:

In [ ]:
numero_secreto = 7

numero_digitado = int(input("Digite um número entre 1 e 10: "))
contador = 0
while contador < 4:
    if numero_digitado == numero_secreto:
        print("Você acertou!")
        break      
    else:
        print("Tente Novamente, tentativa ", contador, "de 3")    
        numero_digitado = int(input("Digite um número entre 1 e 10: "))
        contador += 1
else:
    print("Suas tentativas acabaram. O número secreto era", numero_secreto)

Tente Novamente, tentativa  1 de 3
Tente Novamente, tentativa  2 de 3
Tente Novamente, tentativa  3 de 3
Suas tentativas acabaram. O número secreto era 7